
		* {
			box-sizing: border-box;
			padding: 0px;
			margin: 0px;
		}

		html,
		body {
			height: 100%;
			overflow: hidden;
		}

		div {
			display: block;
		}

		button:hover, #login-eye:hover, #login-form-leave:hover  {
			cursor: pointer
		}

		a {
			text-decoration: none;
			color: initial;
		}


		.limiter {
			width: 100%;
			margin: 0;
			padding: 0;
			background: #f2f2f2;
		}

		.login-container {
			font-family: sans-serif;
			width: 100%;
			min-height: 100vh;
			display: flex;
			padding: 20px;
			justify-content: center;
			align-items: center;
		}


		.login-wrap {
			background: #fff;
			border-radius: 15px;
			padding: 50px 30px 35px 30px;
			width: 400px;
		}

		@media only screen and (min-width: 450px) {
			.login-wrap {
				padding: 50px 20px 25px 20px;
			}
		}

		.login-form-header {
			font-size: 30px;
			padding-bottom: 50px;
			position: relative;
			display: flex;
			align-items: center;
			
		}

		.login-form-title {			
			font-weight: bold;
			width: 100%;
			text-align: center;			
		}

		#login-form-leave {
			top: 1px;
			position: absolute;			
		}

		.login-form-text {
			font-size: 14px;
			font-style: italic;
			text-align: center;
			padding-bottom: 40px;
		}

		.login-form-inputarea {
			padding: 10px 20px 10px 20px;
			border: 2px solid #adadad;
			border-radius: 7px;
			margin-bottom: 30px;
			position: relative;
			display: flex;
			align-items: center;
		}

		.login-inputfield {
			background: transparent;
			outline: none;
			border: none;
			width: 100%;
			font-size: 17px;
			text-align: left;
		}

		#login-eye {
			position: absolute;
			padding-right: 10px;
			right: 0;
			color: #adadad;
		}

		#login-eye:hover {
			color: black;
		}

		.login-form-forgotpswd {
			text-align: center;
			font-size: 14px;
			color: black;
		}

		.login-form-btn {
			margin-top: 100px;
			align-items: center;
			background-color: #41c98e;
			border-radius: 10px;
			font-weight: bold;
			font-size: 30px;
			text-align: center;
		}

		.login-form-btnLogin {
			color: white;
			vertical-align: middle;
			outline: none;
			border: none;
			background: none;
			width: 100%;
			font-size: 20px;
			text-align: center;
			padding-top: 10px;
			padding-bottom: 10px;
		}
